@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased font-inter tracking-tight;
    background-color: hsl(var(--b2));
    color: hsl(var(--bc));
    background-attachment: fixed;
    min-height: 100vh;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tighter font-semibold;
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  @keyframes shimmer-slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(
      90deg,
      hsl(var(--bc) / 0) 0%,
      hsl(var(--bc) / 0.25) 50%,
      hsl(var(--bc) / 0) 100%
    );
    background-size: 1000px 100%;
  }

  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
  }
}
